<head>
	<meta charset="utf-8">


	<script type="text/javascript"
			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>

	<title>{{ site.title }}</title>
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/public/images/msr-student-template-favicon.png">

	<!-- Style -->
	<link rel="stylesheet" href="{{ site.baseurl }}/public/stylesheets/style.css">
	<!-- Icons -->
	<link rel="stylesheet" href="{{ site.baseurl }}/public/font_awesome/css/all.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet"> <!-- header/subtitle font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet"> <!-- body font -->
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
